<% provide(:title, 'About Us') %>

<h1>About Us</h1>
<p>
  This is the sample application created through <a href="http://railstutorial.org">Ruby on Rails Tutorial</a>
  with the intent of teach web development through the use of <a href="http://rubyonrails.org">Ruby on Rails</a>.
</p>